/Ted‘s Summary-tmp.docx
/DesignPattern/Adapter/
DesignPattern/Bridge/
*.obj
*.pdb
*.cache
*.exe
/Debug/*
*/obj/*
/DesignPattern/DesignPattern/obj/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
/DesignPattern/DesignPattern/obj/Debug/DesignPattern.csproj.FileListAbsolute.txt
/DesignPattern/DesignPattern/obj/Debug/Prototype.csproj.FileListAbsolute.txt
/DesignPattern/Observer/obj/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
/DesignPattern/Observer/obj/Debug/Observer.csproj.FileListAbsolute.txt
/DesignPattern/ObserverRealCode/obj/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
/DesignPattern/ObserverRealCode/obj/Debug/ObserverRealCode.csproj.FileListAbsolute.txt
/DesignPattern/State/obj/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
/DesignPattern/ConsoleApp1/obj/Debug/StateRealCode.csproj.FileListAbsolute.txt
/DesignPattern/.vs/DesignPattern/DesignTimeBuild/.dtbcache.v2
/DesignPattern/.vs/DesignPattern/v16/.suo
/DesignPattern/ConsoleApp1/obj/Release/.NETFramework,Version=v4.0.AssemblyAttributes.cs
/DesignPattern/DesignPattern/obj/Release/.NETFramework,Version=v4.0.AssemblyAttributes.cs
/DesignPattern/LanguageRef/bin/Debug/net5.0/LanguageRef.deps.json
/DesignPattern/LanguageRef/bin/Debug/net5.0/LanguageRef.dll
/DesignPattern/LanguageRef/bin/Debug/net5.0/LanguageRef.runtimeconfig.dev.json
/DesignPattern/LanguageRef/bin/Debug/net5.0/LanguageRef.runtimeconfig.json
/DesignPattern/LanguageRef/bin/Debug/net5.0/ref/LanguageRef.dll
/DesignPattern/LanguageRef/LanguageRef.csproj
/DesignPattern/LanguageRef/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/DesignPattern/LanguageRef/obj/Debug/net5.0/LanguageRef.AssemblyInfo.cs
/DesignPattern/LanguageRef/obj/Debug/net5.0/LanguageRef.csproj.FileListAbsolute.txt
/DesignPattern/LanguageRef/obj/Debug/net5.0/LanguageRef.dll
/DesignPattern/LanguageRef/obj/Debug/net5.0/LanguageRef.GeneratedMSBuildEditorConfig.editorconfig
/DesignPattern/LanguageRef/obj/Debug/net5.0/ref/LanguageRef.dll
/DesignPattern/LanguageRef/obj/LanguageRef.csproj.nuget.dgspec.json
/DesignPattern/LanguageRef/obj/LanguageRef.csproj.nuget.g.props
/DesignPattern/LanguageRef/obj/LanguageRef.csproj.nuget.g.targets
/DesignPattern/LanguageRef/obj/project.assets.json
/DesignPattern/LanguageRef/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/DesignPattern/LanguageRef/obj/Release/net5.0/LanguageRef.AssemblyInfo.cs
/DesignPattern/LanguageRef/obj/Release/net5.0/LanguageRef.GeneratedMSBuildEditorConfig.editorconfig
/DesignPattern/Observer/obj/Release/.NETFramework,Version=v4.0.AssemblyAttributes.cs
/DesignPattern/ObserverRealCode/obj/Release/.NETFramework,Version=v4.0.AssemblyAttributes.cs
/DesignPattern/State/obj/Release/.NETFramework,Version=v4.0.AssemblyAttributes.cs
/DesignPattern/.vs/DesignPattern/v16/.suo
